<ng-template #noProduct>
    <div class="alert alert-danger" role="alert">
        No product in this category!
    </div>
</ng-template>

<div class="row mt-3 mb-5">
    <div *ngFor="let product of products | productFilter:filterText, uppercase" class="card rounded mt-2 ms-2"
        [ngStyle]="getPriceBorderStyle(product.price)" style="width: 18rem;">
        <img src="{{product.imageUrl}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>

            <h6 class="text-primary" *ngFor="let category of categories">
                <p *ngIf="category.id==product.categoryId ">
                    <fa-icon [icon]="faList"></fa-icon> {{category.name}}
                </p>
            </h6>

            <p class="mb-5 card-text">{{product.description}}</p>

            <div>
                <span class="p-2 rounded" [ngStyle]="getPriceStyle(product.price)">
                    <fa-icon [icon]="faTag"></fa-icon> {{ product.price| currency:'TRY' }}
                </span>

                <button (click)="addToCart(product.name)" [ngStyle]="getPriceButtonStyle(product.price)"
                    class="rounded mt-2">
                    <fa-icon [icon]="faCartPlus"></fa-icon> Add to Cart
                </button>
            </div>
        </div>
    </div>