<h3 *ngIf="products;else noProduct">{{title}}</h3>
<ng-template #noProduct>
    <div class="alert alert-danger" role="alert">
        No product in this category!
    </div>
</ng-template>

<div class="row">
    <div *ngFor="let product of products | productFilter:filterText, uppercase "
        class="card rounded" [ngStyle]="getPriceBorderStyle(product.price)"  style="width: 18rem;">
        <img src="{{product.imageUrl}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <h6 class="text-primary">{{product.categoryName}}</h6>
            <p class="card-text">{{product.description}}</p>
            <span class="p-2 rounded" [ngStyle]="getPriceStyle(product.price)">{{ product.price| currency:'TRY' }}</span>
            <button (click)="addToCart(product.name, product.categoryName)" [ngStyle]="getPriceButtonStyle(product.price)" class="rounded">Add to Cart</button>
        </div>
    </div>