<h3>{{title}}</h3>
<div class="list-group">
  <!-- <a [class.active]="category==selectedCategory" *ngFor="let category of categories" (click)="selectCategory(category)"
    routerLink="products/category/{{category.id}}" class="list-group-item"
    routerLinkActive="router-link-active">{{category.name}}</a> -->
    <a [class.active]="category==selectedCategory" *ngFor="let category of categories" (click)="selectCategory(category)"
    routerLink="products"[queryParams]="{categoryId:category.id}" class="list-group-item"
    routerLinkActive="router-link-active">{{category.name}}</a>
</div>