body{
    margin: auto;
    width: 80%;
    font-family: 'Raleway', sans-serif;
    font-size: 13px; 
    background-color: white;
}

.page {
    width: 80%;
    margin: 10px auto;
}

.aclass {
    width: 70px;
    height: 70px;
    padding-top: 10px;
}
    
.divclass{
    display: inline-flex;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    border-left: 10px;
    border-right: 10px;
    border-color: lightcyan;
    background-color: darkcyan;   
}

.divclass-a{
    align-items: center;
    margin: 10px auto;    
}

h1 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 50px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}

h3 { 
    color: black; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 30px; 
    font-weight: bold; 
    line-height: 32px; 
    margin: 20px; 
    text-align: center; 
}

h4 {
    color: darkcyan;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h5 {
    color: lightcyan;
    font-family: 'Helvetica Neue', sans-serif;
}

a {
    font-family: 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

hr {
    margin: 10px, auto 15px;
    width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0));
}

.urpForm_group {
    padding: 20px 0 40px;
    border: 1px solid darkcyan;
    border-width: 1px 0 0 0;}

    legend {
        font-size: 1.2em;
        font-weight: 600;
        line-height: 30px;
        padding-right: 30px/2;
      }

      .urpTextarea{
       
        height:36px;
        color: #333;
        padding: 0 10px;
        background:darkcyan;
        border: 1px solid;
        border-color:darkcyan;
        width: 100%;
    }

    .input-class:focus,
.urpTextarea:focus,
.urpSelect-multiple > select:focus{
  border-color: #6BACED;
}
.urpLabel {
    font-size: 0.77778em;
    color: #4D4D4D;
    cursor: pointer;
    display: block;
    font-weight: normal;
    margin-bottom: 0.44444rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    }

    .urpSelect {  
        height:36px;
        overflow: hidden;
        -webkit-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
        text-shadow: 0 1px rgba(255, 255, 255, 0.7);   
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    border: 1px solid darkcyan;
        background-color: darkcyan;
        background-image: -webkit-gradient(linear,  left top,  left bottom,  from(#ffffff),  to(#E6E6E6));
        background-image: -webkit-linear-gradient(top,  #ffffff, #E6E6E6);
        background-image: -moz-linear-gradient(top,  #ffffff, #E6E6E6);
        background-image: -o-linear-gradient(top,  #ffffff, #E6E6E6);
        background-image: linear-gradient(to bottom,  #ffffff, #E6E6E6);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding-box;
        background-clip: padding-box;
        width: 100%;
    }
    
    .urpSelect > select {
        margin: 0;
        border: 0;
        width:130%; 
        height:33px;
        padding:8px;
        color: darkcyan;
        display: block;
        position: relative;
        text-shadow: 0 1px white;
        background: transparent;	
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: normal;
        text-indent: 0.01px;
        text-overflow: '';	
    }
    
    .urpSelect > select::-ms-expand { display: none; }
    .urpSelect > select > option{ padding:3px 5px; }
    .urpSelect > select:focus {
           z-index: 2;
        width: 100%;
        -webkit-box-shadow: inset 0 0 4px #51b5fb, 0 0 4px #51b5fb;
        -moz-box-shadow: inset 0 0 4px #51b5fb, 0 0 4px #51b5fb;
        box-shadow: inset 0 0 4px #51b5fb, 0 0 4px #51b5fb;
    }
    
    .square-button{
        background-color: rgba(darkcyan, .8);
        color: darken(darkcyan, 10%);
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        border-radius:2px;
        transition:all 0.3s;
        padding: 0 60px;
        height: 60px;
        border: none;
        width: 100%;
        
    }

    .input-class {margin-bottom: 20px}

    .urpSelect:hover, 
    .urpSelect:focus{
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2), inset 0 0 3px #fff;
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2), inset 0 0 3px #fff;
        box-shadow:0 1px 2px rgba(0,0,0,0.2), inset 0 0 3px #fff;
        color: #314f64;
        z-index:1;
    }
    
    .urpSelect option { text-shadow: none; }
    .urpSelect select:before, 
    .urpSelect select:after {
        top:35%;
        width:0;
        height:0; 
        right:10px;
        border: 4px dashed;
        pointer-events: none;
        border-color: #777 transparent;
    }
    
    .urpSelect select:before { border-bottom-style: solid; border-top: none; }
    .urpSelect select:after { margin-top: 6px; border-top-style: solid; border-bottom: none; }