<content>
<main class="form-signin text-center">
    <form class="align-center">
        <img class="mb-4" src="assets/img/logo.svg" alt="" width="120" height="100">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating mb-4">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-4">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary mb-4" type="submit">Sign in</button>
        <p class=" mb-4 text-muted">© 2022</p>
    </form>
</main>
</content>