body {
    margin: auto auto auto;
    width: 90%;
}

.responsive {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px;
    width: 100%;
    border: 0px;
    text-align: center;
}

.responsive2 {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 0px;
    width: 100%;
    border: 0px;
    text-align: center;
    background-color: lightcyan;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    align-items: center;
}

.responsive3 {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 0px;
    width: 100%;
    border: 0px;
    text-align: right;
    background-color: lightcyan;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    align-items: center;
}

@media screen and (max-width:768px) {
    .responsive {
        grid-template-columns: auto;
    }

    .responsive2 {
        grid-template-columns: auto;
    }

    .responsive3 {
        grid-template-columns: auto;
    }

}

nav {
    margin-bottom: 10px;
    border-left: 5px solid whitesmoke;
    border-right: 5px solid whitesmoke;
}


.titles {
    background-color: white;
    color: black;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    color: black;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: center;
    color: black;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
}

.h4w {
    color: white;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    display: block;
}

.h4b {
    color: black;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

h5 {
    color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
}

#h5 {
    color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
}

.h5b {
    color: chocolate;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.h6dg {
    color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

.h6ws {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.profile {
    width: 128px;
    height: 128px;
}

.educations {
    width: 100%;
    background-color: darkcyan;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    padding-top: 3%;
    padding-bottom: 3%;
}

.experiences {
    width: 100%;
    background-color: lightcyan;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    padding-top: 3%;
    padding-bottom: 5%;
}



a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

.spatab {
    text-align: center;
    width: 100%;

}

#spatab {
    border-bottom: 5px solid darkgrey;
}

.spatd {
    background-color: whitesmoke;
    border-style: solid;
    border-top: 5px;
    border-bottom: 5px;
    border-color: darkgrey;
}

.spali {
    list-style-type: none;
}

.tdw {
    color: white;
}

#licankaya {
    list-style-image: url("../img/cankayalogo.png");
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#lianadolu {
    list-style-image: url('../img/anadolulogo.png');
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#likarabuk {
    list-style-image: url('../img/karabuklogo.png');
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#lihighschool {
    list-style-image: url('../img/liselogo.png');
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#libilgeadam {
    list-style-image: url('../img/bilgeadamlogo.png');
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#liministry {
    list-style-image: url('../img/cevrelogo.png');
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#licerebrum {
    list-style-image: url('../img/cerebrumlogo.png');
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#liugursaat {
    list-style-image: url('../img/ugurlogo.png');
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#lirolex {
    list-style-image: url('../img/rolexlogo.png');
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#libaskent {
    list-style-image: url('../img/baskentlogo.png');
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#aclass {
    margin-bottom: -3px;
    text-align: right;
}

#navid {
    border-top: 5px solid whitesmoke;
}

#navlogo {
    width: 70px;
    height: 70px;
    margin-bottom: -55px;
}