body {
    margin: auto auto auto auto;
    width: 90%;
    background-color: white;
}

.edex {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0px;
    width: 100%;
    text-align: center;
    border: 0;
    border-radius: 10px;
}

.educations {
    width: 100%;
    background-color: darkcyan;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.experiences {
    width: 100%;
    background-color: lightcyan;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.bio {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-gap: 0px;
    width: 100%;
    text-align: center;
    background-color: lightcyan;
    font-family: 'Helvetica Neue', sans-serif;
    align-items: center;
    border: 0;
    border-radius: 10px;

}

.links {
    display: grid;
    grid-template-columns: 5% 75% 20%;
    grid-gap: 0px;
    width: 100%;
    border: 0px;
    text-align: right;
    background-color: white;
    font-family: 'Helvetica Neue', sans-serif;
    align-items: center;
    border-radius: 10px;
}

@media screen and (max-width:768px) {
    .edex {
        grid-template-columns: auto;
    }

    .bio {
        grid-template-columns: auto;
    }

    .links {
        grid-template-columns: auto;
    }
}

nav {
    margin-bottom: 10px;
    border-left: 5px solid darkcyan;
    border-right: 5px solid darkcyan;
    border-radius: 10px;
}

.titles {
    background-color: whitesmoke;
    border-color: darkcyan;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

h1 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 50px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}

h3 { 
    color: black; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 30px; 
    font-weight: bold; 
    line-height: 32px; 
    margin: 20px; 
    text-align: center; 
}

h4 {
    color: darkcyan;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

.h4w {
    color: white;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.h4b {
    color: black;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

h5 {
    color: darkcyan;
    font-family: 'Helvetica Neue', sans-serif;
}

#h5 {
    color: lightcyan;
    font-family: 'Helvetica Neue', sans-serif;
}

.h5c {
    color: chocolate;
    font-family: 'Helvetica Neue', sans-serif;
}

.h6dg {
    color: darkgray;
    font-family: 'Helvetica Neue', sans-serif;
}

.h6ws {
    color: whitesmoke;
    font-family: 'Helvetica Neue', sans-serif;
}

.profile {
    width: 128px;
    height: 128px;
    border-radius: 10px;
}

a {
    font-family: 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

.spatab {
    text-align: center;
    width: 100%;
    border-radius: 10px;
}

.spatd {
    background-color: whitesmoke;
    border-style: solid;
    border-top: 10px;
    border-bottom: 10px;
    border-color: darkcyan;
    border-radius: 10px;
}

.spali {
    list-style-type: none;
}


#licankaya {
    list-style-image: url("../img/cankayalogo.png");
}

#lianadolu {
    list-style-image: url('../img/anadolulogo.png');
}

#likarabuk {
    list-style-image: url('../img/karabuklogo.png');
}

#lihighschool {
    list-style-image: url('../img/liselogo.png');
}

#libilgeadam {
    list-style-image: url('../img/bilgeadamlogo.png');
}

#liministry {
    list-style-image: url('../img/cevrelogo.png');
}

#licerebrum {
    list-style-image: url('../img/cerebrumlogo.png');
}

#liugursaat {
    list-style-image: url('../img/ugurlogo.png');
}

#lirolex {
    list-style-image: url('../img/rolexlogo.png');
}

#libaskent {
    list-style-image: url('../img/baskentlogo.png');
}

#aclass {
    margin-bottom: -3px;
    text-align: right;
}

#navid {
    border-top: 5px solid whitesmoke;
}

#navlogo {
    width: 70px;
    height: 70px;
}

hr {
    margin: 10px, auto 15px;
    width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0));
}